.nav-desktop-container {
  padding-top: 20px;
  text-align: right;
  z-index: 1;
}

.nav-btn-secondary {
  border-style: none;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.nav-btn-secondary:active {
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
}

.nav-btn-primary,
.contact-btn {
  background: #33c3f0;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.nav-btn-primary:active,
.contact-btn:active {
  box-shadow: inset 20px 20px 60px #2ba6cc, inset -20px -20px 60px #3be0ff;
}

#fullpage .fp-slidesNav {
  text-align: center;
}

.capitals {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

.borderless {
  border: none;
}

.hidden {
  display: none;
}

.hero-icon {
  height: 40vh;
}

.hero-section {
  background-color: white;
  background-image: linear-gradient(
      90deg,
      rgba(51, 195, 240, 0.05) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(51, 195, 240, 0.05) 50%, transparent 50%);
  background-size: 50px 50px;
}

.sub-hero-icon {
  height: 30vh;
}

.sub-sub-hero-icon {
  height: 30vh;
}

#icon-mention {
  position: absolute;
  bottom: 0;
  right: 0;
}

#exampleMessage {
  resize: none;
}
